<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection</title>
    <style>
    body{
        background-color: gray;
        color: aliceblue;
        font-family: 'Courier New', Courier, monospace;
        text-align:center;
        
        }
    textarea {
        width: 350px;
        height: 200px;
        padding: 10px;
        font-size: 16px;
        line-height: 1.5;
        resize: none; 
      }
    </style>
</head>
<body>
    <h2>Movie Reviews Emotion Detection</h2>
    <form method="GET">
        
    <textarea name="text"  ></textarea>
        <br/>
        <input type="submit" value="submet">
    </form>

    <p>{{ txt }}</p>
</body>
</html>